USE [master]
GO
/****** Object:  Database [spgl]    Script Date: 2019/12/19 16:21:24 ******/
CREATE DATABASE [spgl]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'spgl', FILENAME = N'C:\SQLServer2017Media\MSSQL14.MSSQLSERVER\MSSQL\DATA\spgl.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'spgl_log', FILENAME = N'C:\SQLServer2017Media\MSSQL14.MSSQLSERVER\MSSQL\DATA\spgl_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [spgl].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [spgl]
GO
/****** Object:  Table [dbo].[brand]    Script Date: 2019/12/19 16:21:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[brand](
	[bname] [varchar](50) NOT NULL,
	[bwebsite] [varchar](100) NOT NULL,
	[bpicture] [varchar](100) NOT NULL,
 CONSTRAINT [PK_BRAND] PRIMARY KEY NONCLUSTERED 
(
	[bname] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[commodity]    Script Date: 2019/12/19 16:21:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[commodity](
	[cno] [int] NOT NULL,
	[cname] [varchar](50) NOT NULL,
	[tname] [varchar](50) NULL,
	[bname] [varchar](50) NULL,
	[gg] [varchar](50) NOT NULL,
	[xh] [varchar](50) NOT NULL,
	[jldw] [varchar](10) NOT NULL,
	[scj] [numeric](16, 2) NOT NULL,
	[xsj] [numeric](16, 2) NOT NULL,
	[cbj] [numeric](16, 2) NOT NULL,
	[slt] [varchar](50) NOT NULL,
	[js] [varchar](100) NOT NULL,
	[kc] [int] NOT NULL,
 CONSTRAINT [PK_COMMODITY] PRIMARY KEY NONCLUSTERED 
(
	[cno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[order]    Script Date: 2019/12/19 16:21:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[order](
	[ono] [int] NOT NULL,
	[cno] [int] NULL,
	[khxm] [varchar](10) NOT NULL,
	[khsj] [varchar](30) NOT NULL,
	[khdz] [varchar](50) NOT NULL,
	[yb] [varchar](16) NOT NULL,
	[dgsj] [datetime] NOT NULL,
	[dgsl] [int] NOT NULL,
	[dj] [numeric](16, 0) NOT NULL,
	[dgzje] [numeric](32, 0) NOT NULL,
 CONSTRAINT [PK_ORDER] PRIMARY KEY NONCLUSTERED 
(
	[ono] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Relationship_1]    Script Date: 2019/12/19 16:21:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Relationship_1](
	[sname] [varchar](50) NOT NULL,
	[cno] [int] NOT NULL,
 CONSTRAINT [PK_RELATIONSHIP_1] PRIMARY KEY CLUSTERED 
(
	[sname] ASC,
	[cno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Supplier]    Script Date: 2019/12/19 16:21:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Supplier](
	[sname] [varchar](50) NOT NULL,
	[contacts] [varchar](10) NOT NULL,
	[phone] [varchar](20) NOT NULL,
	[synopsis] [varchar](100) NOT NULL,
 CONSTRAINT [PK_SUPPLIER] PRIMARY KEY NONCLUSTERED 
(
	[sname] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[type]    Script Date: 2019/12/19 16:21:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[type](
	[tname] [varchar](50) NOT NULL,
	[tpicture] [varchar](100) NOT NULL,
 CONSTRAINT [PK_TYPE] PRIMARY KEY NONCLUSTERED 
(
	[tname] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 2019/12/19 16:21:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[user_id] [varchar](50) NOT NULL,
	[user_psw] [varchar](50) NOT NULL,
 CONSTRAINT [PK_uesrs] PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [Relationship_3_FK]    Script Date: 2019/12/19 16:21:24 ******/
CREATE NONCLUSTERED INDEX [Relationship_3_FK] ON [dbo].[commodity]
(
	[bname] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [Relationship_4_FK]    Script Date: 2019/12/19 16:21:24 ******/
CREATE NONCLUSTERED INDEX [Relationship_4_FK] ON [dbo].[commodity]
(
	[tname] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [Relationship_5_FK]    Script Date: 2019/12/19 16:21:24 ******/
CREATE NONCLUSTERED INDEX [Relationship_5_FK] ON [dbo].[order]
(
	[cno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [Relationship_1_FK]    Script Date: 2019/12/19 16:21:24 ******/
CREATE NONCLUSTERED INDEX [Relationship_1_FK] ON [dbo].[Relationship_1]
(
	[sname] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [Relationship_2_FK]    Script Date: 2019/12/19 16:21:24 ******/
CREATE NONCLUSTERED INDEX [Relationship_2_FK] ON [dbo].[Relationship_1]
(
	[cno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[commodity]  WITH CHECK ADD  CONSTRAINT [FK_COMMODIT_RELATIONS_BRAND] FOREIGN KEY([bname])
REFERENCES [dbo].[brand] ([bname])
GO
ALTER TABLE [dbo].[commodity] CHECK CONSTRAINT [FK_COMMODIT_RELATIONS_BRAND]
GO
ALTER TABLE [dbo].[commodity]  WITH CHECK ADD  CONSTRAINT [FK_COMMODIT_RELATIONS_TYPE] FOREIGN KEY([tname])
REFERENCES [dbo].[type] ([tname])
GO
ALTER TABLE [dbo].[commodity] CHECK CONSTRAINT [FK_COMMODIT_RELATIONS_TYPE]
GO
ALTER TABLE [dbo].[order]  WITH CHECK ADD  CONSTRAINT [FK_ORDER_RELATIONS_COMMODIT] FOREIGN KEY([cno])
REFERENCES [dbo].[commodity] ([cno])
GO
ALTER TABLE [dbo].[order] CHECK CONSTRAINT [FK_ORDER_RELATIONS_COMMODIT]
GO
ALTER TABLE [dbo].[Relationship_1]  WITH CHECK ADD  CONSTRAINT [FK_RELATION_RELATIONS_COMMODIT] FOREIGN KEY([cno])
REFERENCES [dbo].[commodity] ([cno])
GO
ALTER TABLE [dbo].[Relationship_1] CHECK CONSTRAINT [FK_RELATION_RELATIONS_COMMODIT]
GO
ALTER TABLE [dbo].[Relationship_1]  WITH CHECK ADD  CONSTRAINT [FK_RELATION_RELATIONS_SUPPLIER] FOREIGN KEY([sname])
REFERENCES [dbo].[Supplier] ([sname])
GO
ALTER TABLE [dbo].[Relationship_1] CHECK CONSTRAINT [FK_RELATION_RELATIONS_SUPPLIER]
GO
ALTER TABLE [dbo].[commodity]  WITH CHECK ADD  CONSTRAINT [CKC_CBJ_COMMODIT] CHECK  (([cbj]>=(0)))
GO
ALTER TABLE [dbo].[commodity] CHECK CONSTRAINT [CKC_CBJ_COMMODIT]
GO
ALTER TABLE [dbo].[commodity]  WITH CHECK ADD  CONSTRAINT [CKC_KC_COMMODIT] CHECK  (([kc]>=(0)))
GO
ALTER TABLE [dbo].[commodity] CHECK CONSTRAINT [CKC_KC_COMMODIT]
GO
ALTER TABLE [dbo].[commodity]  WITH CHECK ADD  CONSTRAINT [CKC_SCJ_COMMODIT] CHECK  (([scj]>=(0)))
GO
ALTER TABLE [dbo].[commodity] CHECK CONSTRAINT [CKC_SCJ_COMMODIT]
GO
ALTER TABLE [dbo].[commodity]  WITH CHECK ADD  CONSTRAINT [CKC_XSJ_COMMODIT] CHECK  (([xsj]>=(0)))
GO
ALTER TABLE [dbo].[commodity] CHECK CONSTRAINT [CKC_XSJ_COMMODIT]
GO
ALTER TABLE [dbo].[order]  WITH CHECK ADD  CONSTRAINT [CKC_DGSL_ORDER] CHECK  (([dgsl]>=(0)))
GO
ALTER TABLE [dbo].[order] CHECK CONSTRAINT [CKC_DGSL_ORDER]
GO
ALTER TABLE [dbo].[order]  WITH CHECK ADD  CONSTRAINT [CKC_DGZJE_ORDER] CHECK  (([dgzje]>=(0)))
GO
ALTER TABLE [dbo].[order] CHECK CONSTRAINT [CKC_DGZJE_ORDER]
GO
ALTER TABLE [dbo].[order]  WITH CHECK ADD  CONSTRAINT [CKC_DJ_ORDER] CHECK  (([dj]>=(0)))
GO
ALTER TABLE [dbo].[order] CHECK CONSTRAINT [CKC_DJ_ORDER]
GO
USE [master]
GO
